.bg-container {
  background-color: #f1f5f8;
  padding: 35px;
}
.faqs-card-container {
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  font-family: 'roboto';
  text-align: center;
  color: #cb8805;
}
